{% extends 'base.html' %}
{%load bootstrap4 %}
{%load static%}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .vl {
            border-left: 6px solid #540b0e;
            height: 300px;
            position: absolute;
            left: 50%;
            margin-left: -3px;
            top: 0;
        }
    </style>
</head>
<body>
    <div class="row d-flex justify-content-center">
        {% for neighbors in found_neighborhood %}
        <div class="col-md-4" style="padding:20px">
            <div class="vl"></div>
            <div class="card text-center shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-header">
                  <h2>Mtaa: {{neighbors.name}}</h2>  
                </div>
                <div class="card-body">
                    <img src="{{neighbors.image.url}}" alt="" height="200px" width=100%>
                    
                  <h5 class="card-title">Hood Location: {{neighbors.location}}</h5>
                  <p class="card-text">{{neighbors.description}}</p>
                  <a href="{% url 'singlehood' neighbors.id %}" class="btn btn-outline-info">More Details</a>

                  {% if request.user.profile.hoods == neighbors %}
                    <div class="leave">
                        <a href="{% url 'leave-hood' neighbors.id %}" class="btn btn-sm  btn-outline-danger mb-2">Leave Neighbourhood</a>
                    </div>
                    <div class="explore">
                        <a href="{% url 'single-hood' neighbors.id %}" class="btn btn-sm btn-outline-info ">Explore {{user.profile.neighborhood.name}} Estate
                        </a>
                    </div>
                  {% elif not request.user.profile.hoods %}
                    <a href="{% url 'join-hood' neighbors.id %}" class="btn btn-outline-info btn-md">Join Hood</a>
                  {% endif %}
                  
                </div>
                <div class="card-footer text-muted"></div>
                
            </div>
            
        </div>
       
        {% endfor %}
    </div>
    
</body>
</html>
{% endblock %}